@media screen and (min-width:769px) {

    /* portada */
    
    .portada {
        display: flex;
        
        img{
            width: 100%;
            height: auto;
            max-width: 600px;
            padding: 10px;
         /*    margin-left: 350px; */
            border-radius: 20px;
    
        }
    }
       
        .p-portada{
            background-image: url(../img/fondo-aqua.webp);
            width: 400px;
            height: 800px;
            padding: 10px;
    
            p{
                font-size: 50px;
            font-weight: 600;
            color:brown;
            text-align: center;
            margin-top: 250px;
            
            position: relative;
            }
    
        }
    
        
        .fondo-index{
            background-image: url(../img/fondo-aqua.webp);
         }
    
    /* barra de navegacion */
    .container-fluid{
        /* background-color: rgb(154, 236, 209); */
        background-image: url(../img/guarda.png); 
        padding: 40px;
        margin-top: 20px;
        border: solid black 3px;
    
        .navbar-collapse{
            margin-left: 400px;
        }
        a{
            font-size: 20px;
            color: black;
            background-color: rgb(192, 189, 189);
            margin: 5px;
            border-radius: 10px;
            margin: 10px;
            
            &:hover{
                background-color: white;
                border: solid black 3px;
                color: black;
                border-radius: 10px;
            }
        }
    }
     /* caricatura y presentacion */
    /* org de caricatura y presentacion */
    .mi-presentacion{
       display: grid;
       grid-template-columns: 1fr 1fr;
       padding: 20px;
       gap: 5px;
       margin: 5px;
       
       
      
    /* caricatura */
        
         img {
            border-radius: 30px;
            border: solid 8px aquamarine;
         }
    /* presentacion */
        .animate__animated{
            font-size: 30px;
            text-align: center;
            color: black;
            margin-top: 150px;
            animation-duration: 4s;
            animation-iteration-count:infinite;
            
            
        }
    }
        
    /* card */
    
    .row{
        margin: 10px;
    
        .card{
            border: solid 4px black;
        }
    }
    
    
    
    /* text-card */
    .card-title{
        text-align: center;
        font-size: 35px;
        color:white;
        background-color: rgb(116, 240, 240);
        padding: 5px;
    }
    
    .card-text{
        color: black;
        font-size: 25px;
        text-align: center;
    }
    /* videos caminando y tirando */
    
    .videos{
        display: flex;
       
        p{
            font-size: 30px;
            background-color: burlywood;
            color: black;
            margin-left: 30px;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
            
        }
        video{
            width: 600px;
           
            height: auto;
            margin-left: 45px;
            padding: 5px;
            padding-top: 20px;
        }}
    
    
    
    
    /* familia */
    
    /* fabri */
    /* org de fabri */
    .hermanos{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
     /* dibujos */
        img{
            width: 200px;
            height: auto;
            padding-top: 80px;
            display: block;
        }
    
        p{
            font-size: 25px;
            text-align: center;
            padding: 10px;
        }
    
        .img-hermanos{
            width: 400px;
            height: auto;
            padding: 10px;
            border-radius: 20px;
            border: solid 6px aquamarine;
        }
    }
    
    /* animacion de dibujos */
     .animate__flip{
        animation-duration: 2s;
        animation-iteration-count: infinite;
     }
    /* fotos-fabri */
    
    /* .fotos-fabri{
        padding: 20px;
     
    } */
    
       .fabri-fotos{
        display: flex;
        background-image: url(../img/fondo.jpg);
       /* video con fabri */
     video{
        margin-left: 30px;
        width: 600px;
        height: 800px;
        
     }
    /* fotos con fabri */
     .fotos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        img{
            width: 200px;
            height: 240px;
            margin: 3px;
            /* border: solid 4px black; */
    
            &:hover{
                transform: scale(1.2);
                transform:  all 1s;
        }
        }
     }
     
       }
    
    /* papas */
    .fondo-familia{
        background-image: url(../img/fondo.jpg);
    }
    /* titulo */
    /* contenedor */
    .papas{ 
         width: 800px;
         height: auto;
         background-color: burlywood;
         
         border: solid 3px brown;
         margin: auto;
         margin-top: 30px;
    /* titulos */
         p{
            font-size: 50px;
            color:white;
            background-color: black;
            text-align: center;
         }
    /* explicacion */
         h3{
            font-size: 25px;
            color:black;
            text-align: center;
            margin: 10px;
         }
    /* fotos papa-mama */
         img{
            width: 300px;
            height: auto;
            margin-left: 250px;
            border-radius: 30px;
         }
    }
    
    /* padrinos */
    
    .padrinos{
        
         padding: 30px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         border: solid 8px rgb(101, 237, 247);
         border-radius: 20px;
         margin: 20px;
    
        h1{
            font-size: 50px;
            text-align: center;
            color: black;
            
        
        }
    
        p{  font-size: 30px;
            text-align: center;
            color: black;
            
    
        }
    }
    
    /* presentacion-lore y alan */
    
    .presentacion-lore{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        border: solid 3px black;
        margin-top: 20px;
        background-image: url(../img/corazon.webp);
        margin: 20px;
    
        .lore2{
            width: 400px;
            height: auto;
            display: block;
        }

        .lore1{
            width: 400px;
            height: auto;
            
        }
    
        p{
            font-size: 30px;
            text-align: center;
            margin: 10px;
            color: black;
        }
    
    }
     
    h3{
        font-size: 60px;
        text-align: center;
        color: brown;
    }
    
    
    /* invitacion */
    
    .fondo{
        background-image: url(../img/nordico.png);
    }
    
    .invitacion{
        background-color: white;
        width: 800px;
        height: auto;
        margin: auto;
        border-radius: 20px;
        border: solid 3px brown;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    
        p{
            font-size: 30px;
            color: black;
            padding: 10px;
            text-align: center;
    
        }
    }
    
    /* acordeon */
    
    .accordion-item{
        background-image: url(../img/nordico.png);
        
    }
    /* texto-acordeon */
    .accordion-button{
        font-size: 30px;
       
        
    }
    
    .accordion-body{
        font-size: 30px;
        text-align: center;
    }
    
    
    
    .confirmar{
        background-color: white;
        width: 800px;
        height: auto;
        margin: auto;
        border-radius: 20px;
        border: solid 3px brown;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
    
        h1{
            font-size: 25px;
            color: black;
            padding: 10px;
            margin: 10px;
        }
    
        a{
            font-size: 20px;
            background-color: darkorange;
            color: black;
            border: dotted 2px black;
            border-radius: 20px;
            padding: 5px;
            text-align: center; 
            margin-left: 250px;
            margin-bottom: 30px;
            text-decoration: none;
            
        }
    }
    
    .video-fam{
        background-color: white;
        width: 1000px;
        height: auto;
        margin: auto;
        border-radius: 20px;
        border: solid 3px brown;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
    
        p{
            font-size: 20px;
            color:brown;
            text-align: center;
        }
    
        /* a{
            font-size: 20px;
            background-color: darkorange;
            color: black;
            text-decoration: none;
            border: black 2px dotted;
        } */
    img{
        width: 50px;
        height: 50px;
    }
        h3{
            font-size: 20px;
            color:brown;
            text-align: center;
        }
    }
    
    }
    