
@media screen and (max-width:768px){

    .portada {
        display: flex;
        
        img{
            width: 100%;
            height: 300px;
            max-width: 250px;
            padding: 10px;
         /*    margin-left: 350px; */
            border-radius: 20px;
    
        }
    }
 .fondo-index{
    background-image: url(../img/fondo-aqua.webp);
 }
    
    .p-portada{
        background-image: url(../img/fondo-aqua.webp);
        width: 200px;
        height: 300px;
        padding: 10px;

        p{
            font-size: 15px;
        font-weight: 600;
        color:brown;
        text-align: center;
        margin-top: 100px;
        /* background-color: white; */
        position: relative;
        }

    }

    /* barra de navegacion */
  /*   .container-fluid{
        /* background-color: rgb(154, 236, 209); */
      /*   background-image: url(../img/guarda.png);
        padding: 40px;
        margin-top: 20px;
        border: solid black 3px; */ 
    

            .navbar-toggler{
                background-color:aquamarine;}
            
            .navbar-collapse{
                margin-left: 40px;
            }

        
     .container-fluid   a{
            font-size: 15px;
            color: black;
            margin: 5px;
            border-radius: 10px;
            margin-left: 50px;
            
            &:hover{
                background-color: rgb(185, 247, 226);
                color:black;
                border-radius: 10px;
            }
        
    }

    /* caricatura y presentacion */
    /* org de caricatura y presentacion */
    .mi-presentacion{
        display: grid;
        grid-template-columns: 1fr ;
        padding: 10px;
        

/* caricatura */
        
img {
    border-radius: 30px;
    border: solid 4px aquamarine;
    width: 100%; 
    max-width: 300px;
    height: auto;
    margin-left: 70px;
 }
/* presentacion */
.animate__animated{
    font-size: 15px;
    text-align: center;
    color: black;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    margin-top: 20px;
    
    
}
}


/* card */
    
 .row{
    margin: 10px;

    .card{
        border: solid 3px black;
    }

 }


/* text-card */
.card-title{
    text-align: center;
    font-size: 25px;
    color:white;
    background-color: rgb(116, 240, 240);
    padding: 5px;
}

.card-text{
    color: black;
    font-size: 20px;
    text-align: center;
}

/* videos caminando y tirando */
    
.videos{
    display: grid;
    grid-template-columns: 1fr;
   
    p{
        font-size: 20px;
        background-color: burlywood;
        color: black;
        margin-left: 20px;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        
    }
    video{
        width: 400px;
        height: auto;
        margin-left: 20px;
        padding: 5px;
        padding-top: 20px;
    }}

/* familia */
    
    /* fabri */
    /* org de fabri */
    .hermanos{
        display: grid;
        grid-template-columns: 1fr ;
       
        
        padding: 5px;
     /* dibujos */
        img{
            display: none;
            width: 50px;
            height: auto;
            padding-top: 80px;
        }
    
        p{
            font-size: 15px;
            text-align:left;
            padding: 10px;
            margin-top: 20px;
            
        }
    
        .img-hermanos{
            width: 400px;
            height: auto;
            border-radius: 20px;
            border: solid 6px aquamarine;
            display: block;
            margin-left: 20px;
            padding: 10px;
        }
    }
    
    /* animacion de dibujos */
     .animate__flip{
        animation-duration: 2s;
        animation-iteration-count: infinite;
     }

.fabri-fotos{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;

    video{
        width: 300px;
        height: 500px;
        margin-left: 80px;
    }
}

/* papas */
.fondo-familia{
    background-image: url(../img/fondo.jpg);
}
/* titulo */
/* contenedor */
.papas{ 
     width: 400px;
     height: auto;
     background-color: burlywood;
     
     border: solid 3px brown;
     margin: auto;
     margin-top: 30px;
/* titulos */
     p{
        font-size: 30px;
        color:white;
        background-color: black;
        text-align: center;
     }
/* explicacion */
     h3{
        font-size: 20px;
        color:black;
        text-align: center;
        margin: 10px;
     }
/* fotos papa-mama */
     img{
        width: 200px;
        height: auto;
        margin-left: 90px;
        border-radius: 30px;
     }
}

 /* padrinos */
    
 .padrinos{
        
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr ;
    border: solid 8px rgb(101, 237, 247);
    border-radius: 20px;
    margin: 20px;

   h1{
       font-size: 30px;
       text-align: center;
       color: black;
       
   
   }

   p{  font-size: 20px;
       text-align: center;
       color: black;
       

   }
}

/* presentacion-lore y alan */

.presentacion-lore{
   display: grid;
   grid-template-columns: 2fr 1fr ;
   padding: 10px;
   border: solid 3px black;
   margin-top: 20px;
   background-image: url(../img/corazon.webp);
   margin: 20px;

   .lore2{
       width: 150px;
       height: auto;
       display: none;
   }

   .lore1{
       width: 150px;
       height: auto;
       
   }

   p{
       font-size: 15px;
       text-align: center;
       margin: 10px;
       color: black;
   }

}

h3{
   font-size: 30px;
   text-align: center;
   color: aqua;
}

/* invitacion */
    
.fondo{
    background-image: url(../img/nordico.png);
}

.invitacion{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    border: solid 3px brown;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;

    p{
        font-size: 20px;
        color: black;
        padding: 10px;
        text-align: center;

    }
}

/* acordeon */

.accordion-item{
    background-image: url(../img/nordico.png);
    
}
/* texto-acordeon */
.accordion-button{
    font-size: 20px;
   
    
}

.accordion-body{
    font-size: 20px;
    text-align: center;
}



.confirmar{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    border: solid 3px brown;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;

    h1{
        font-size: 20px;
        color: black;
        padding: 10px;
        margin: 10px;
    }

    a{
        font-size: 15px;
        background-color: darkorange;
        color: black;
        border: dotted 2px black;
        border-radius: 20px;
        padding: 5px;
        text-align: center; 
        margin-left: 120px;
        margin-bottom: 30px;
        text-decoration: none;
        
    }
}

.video-fam{
    background-color: white;
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    border: solid 3px brown;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;

    p{
        font-size: 20px;
        color:brown;
        text-align: center;
    }

    /* a{
        font-size: 20px;
        background-color: darkorange;
        color: black;
        text-decoration: none;
        border: black 2px dotted;
    } */
img{
    width: 30px;
    height: 30px;
}
    h3{
        font-size: 20px;
        color:brown;
        text-align: center;
    }
}



}


