
@import "desktop";
@import "mobile";



*{
    margin:0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Handlee', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Satisfy', cursive;

}
